@import "../utils/Mixins.scss";
@import "../utils/Variables.scss";

section {
  h1 {
    @include lato;
    font-weight: 600;
    font-size: 2.5em;
    margin-bottom: 50px;
    color: black_color;
  }
  .login_form,
  .reset_password_form {
    width: 100%;
    margin: 0 auto;
    padding: 0 25px;

    form {
      @include shadow;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
      width: 100%;
      max-width: 550px;
      padding: 50px 25px;
      margin: 0 auto;
      background-color: $fourth_color;
      border: 2px solid $primary_color;
      border-radius: 20px;

      .login_form_connexion,
      .reset_password_form_connexion {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
      }
    }
  }
}
