/****** variables de couleurs ******/

$white_color: #fdfffc; // Blanc Baby powder
$black_color: #1c2321; // Noir Eerie black
$primary_color: #223843; // Gris foncé Gun metal
$secondary_color: #172a3a; // blue munsell
$third_color: #75dddd; // russian blue
$fourth_color: #508991; // tiffany blue

$option_color: #004346; // dark state grey
$option100_color: #175457; // midnight green
$option200_color: #d00000; // Engineering orange
$option300_color: #de3c4b; // Rusty red
