/****** variables de couleurs ******/

$white_color: #fdfffc; // Blanc Baby powder
$black_color: #1c2321; // Noir Eerie black
$primary_color: #223843; // Gris foncé Gun metal
$secondary_color: #93a8ac; // Cadet gray
$third_color: #d7ceb2; // Pearl
$fourth_color: #a59e8c; // Khaki

$option_color: #815355; // Rose taupe
$option100_color: #5b2333; // Wine
$option200_color: #d00000; // Engineering orange
$option300_color: #de3c4b; // Rusty red
